<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <h3> The Spoon </h3>

      <div class="blue-btn">
        <%=link_to new_restaurant_path do %>
          <%= "Add" %>
          <% end  %>
          <i class="fas fa-plus"></i>
      </div>
    </nav>


    <div class="container">
       <%= yield %>
    </div>

  </body>
</html>
